./images/**/**
./node_modules/**
./public/**
./src/**
./.env
./.env.local
# Ignore node_modules folder
node_modules/

# Ignore npm debug logs
npm-debug.log*

# Ignore environment variables
.env

# Ignore build/output directories
dist/
build/
out/
images/